.section {
  padding: 8rem 5%;

  &__header {
    margin-bottom: 4rem;
  }

  &__title {
    line-height: 130%;
    font-size: 4.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  &__subtitle {
    font-size: 1.8rem;
    margin: 0;
  }
}
