/* UTILITIES
 * ------------------------------------------------ */
.u-full-width {
	width: 100%;
	box-sizing: border-box;
}
.u-max-full-width {
	max-width: 100%;
	box-sizing: border-box;
}
.u-pull-right { float: right; }
.u-pull-left { float: left; }

/* IMAGES
 * ------------------------------------------------ */
img.scale-with-grid {
	max-width: 100%;
	height: auto;
}

/* TEXT
 * ------------------------------------------------ */

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-primary {
	color: $primary-color;
}

.text-secondary {
	color: $secondary-color;
}

.text-red {
	color: $red;
}

.text-blue {
	color: $blue;
}

.text-bold {
	font-weight: bold;
}

