<form method="post" action="{{ path('company_associate_delete', {'id': company_associate.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ company_associate.id) }}">
    <button class="btn">Delete</button>
</form>
