{% extends 'base.html.twig' %}

{% block title %}Edit CompanyAssociate{% endblock %}

{% block body %}
    <h1>Edit CompanyAssociate</h1>

    {{ include('company_associate/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('company_associate_index') }}">back to list</a>

    {{ include('company_associate/_delete_form.html.twig') }}
{% endblock %}
