.button {
  height: auto;
  margin-bottom: 0;
  border-radius: 8px;
  font-size: 1.4rem;
  text-transform: none;
  padding: 1rem 1.4rem;
  font-weight: normal;

  &.button-small {
    padding: .6rem 1.2rem;
    font-weight: bold;
  }

  &.button-with-icon {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
  }

  &.button-primary {
    background-color: $primary-color;
    color: $beige;
    line-height: initial;

    &:hover {
      background-color: $primary-color;
      color: $beige;
    }
  }
}