.button {
  height: auto;
  margin-bottom: 0;
  font-size: 1.6rem;
  line-height: 2.2rem;
  text-transform: none;
  padding: 1.4rem 1.6rem;
  font-weight: normal;
  border-radius: 0;
  text-align: center;

  &.button-primary {
    background-color: $primary-color;
    color: $white;

    &:hover {
      background-color: $primary-color;
      color: $white;
    }
  }

  &.button-white {
    background-color: $white;
    color: $primary-color;

    &:hover {
      background-color: $primary-color;
      color: $white;
    }
  }
}
