.button {
  height: auto;
  margin-bottom: 0;
  font-size: 1.4rem;
  text-transform: none;
  padding: 1rem 1.6rem;
  font-weight: normal;
  border-radius: 0;

  &.button-small {
    padding: .6rem 1.2rem;
    font-weight: bold;
  }

  &.button-with-icon {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
  }

  &.button-primary {
    background-color: $primary-color;
    color: $white;
    line-height: initial;

    &:hover {
      background-color: $primary-color;
      color: $white;
    }

    &--stroke {
      border: 2px solid $primary-color;
      background: transparent;
      color: $primary-color;

      &.active {
        background: $primary-color;
        color: #FFF;
      }
    }
  }
}