@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
}

$font-family: "Poppins", Arial, sans-serif !default;
