h1, .h1 {
  font-size: 4.8rem;
  font-weight: bold;
}

h2, .h2 {
  font-size: 4.2rem;
  font-weight: bold;
}

.section-title {
  line-height: 175%;
  font-weight: bold;
  margin-bottom: 0;
}

.section-subtitle {
  font-size: 1.8rem;
}