// Settings
@import 'colors';
@import 'fonts';
@import 'typography';

// Skeleton
@import "/node_modules/normalize-scss/sass/normalize/import-now"; // import normalize-scss
@import '/node_modules/skeleton-sass-official/src/core/config';
@import "skeleton-theme/vars";
@import "skeleton-theme/include_components"; // theme base styles
@import "skeleton-theme/grid"; // theme grid styles

// Layout
@import 'layout/navbar';
@import 'layout/footer';

// Components
@import 'buttons';
@import 'components/home-hero';
@import 'components/home-howworks';
@import 'components/form-wizard/form-wizard';
@import 'components/form-wizard/form-wizard-launcher';
@import 'components/form-wizard/form-wizard-steps';
@import 'components/advantage';
@import 'components/price-card';
@import 'components/testimonials-swiper';

// Views
@import 'views/view-form-wizard';
@import 'views/home';
