.hero {
  padding: 8rem 0;
  background: #F5C982;

  &-title {
    font-size: 4.8rem;
    line-height: 150%;
    text-align: center;
    max-width: 70%;
    margin: 0 auto;
    font-weight: bold;

    color: $deepblue;

    span {
      color: $orange;
    }
  }
}