.howItWorks {
  padding: 10rem 0;
  background: $lightgray;

  .section-title, .section-subtitle {
    //color: $blue;
    text-align: center;
  }

  &-steps {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
  }

  &-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
    flex-basis: 100%;

    &-number {
      border-radius: 50%;
      border: 2px solid $blue;
      width: 6rem;
      height: 6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size: 2.4rem;
    }

    &-text {
      text-align: center;
      color: $blue;
      font-size: 1.8rem;
    }
  }
}