.hero {
  padding: 15rem 0;
  background: #F5C982;
  text-align: center;

  &-content {
    max-width: 90%;
    margin: 0 auto;
  }

  &-title {
    font-size: 3.2rem;
    line-height: 150%;
    margin: 0 auto;
    font-weight: bold;

    color: $deepblue;

    span {
      color: $orange;
    }
  }

  &-subtitle {
    font-size: 1.6rem;
    margin: 2rem 0;
  }

  @media screen and (min-width: $mobile-landscape-width) {
    &-content {
      max-width: 80%;
    }
    &-title {
      font-size: 4.8rem;
    }
  }

  @media screen and (min-width: $tablet-width) {
    &-content {
      max-width: 75rem;
    }
  }
}