.hero {
  padding: 7.5rem 0;
  background: $lightgray;
  text-align: center;

  &__content {
    max-width: 90%;
    margin: 0 auto;
  }

  &__title {
    font-size: 3.2rem;
    line-height: 150%;
    margin: 0 auto;

    span {
      color: $primary-color;
      font-weight: bold;
    }
  }

  &__subtitle {
    font-size: 1.6rem;
    margin: 2rem 0 2.8rem 0;
  }

  @media screen and (min-width: $tablet-width) {
    padding: 15rem 0;

    &__content {
      max-width: 80%;
      margin: 0 auto;
    }
    &__subtitle {
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
