.price-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  padding: 4rem 2rem;
  margin-bottom: 2rem;

  background: $white;
  border: 1px solid $lightgray;
  border-radius: 4px;

  transition: box-shadow .3s;

  &:hover {
    box-shadow: 0px 4px 25px 3px rgba(0, 0, 0, 0.13);
  }

  &:hover &__title {
    color: $primary-color;
  }

  &__title {
    font-size: 2.8rem;
    margin-bottom: 1.5rem;
  }

  &__price {
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 2rem;

    > div {
      font-size: 2.8rem;
    }
  }

  &__services {
    li {
      line-height: 170%;
      list-style-type: '+ ';
    }
  }

  &__annotation {}
}
