.pricing {

  &__content {
    padding: 4rem;
  }

  &__header {
    background: $lightgray;
    padding: 5rem 0;
    text-align: center;
  }

  &__title {
    font-size: 4.2rem;
    font-weight: bold;
    margin: 0;
  }

  &__sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
  }

  &__secondary-title {
    font-size: 2.8rem;
  }

  &__price {
    font-size: 4.2rem;
    line-height: 120%;
    font-weight: bold;
    margin: 1rem 0 1.5rem;
  }

  &__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__list {
    list-style: none;

    > li {
      padding: 2rem;
      border: 1px solid #B9B9B9;
      font-size: 1.5rem;
      line-height: 120%;
    }
  }

  &__annotation {

  }

  @media screen and (min-width: $tablet-width) {
    &__content {
      display: grid;
      grid-template-columns: 3fr 9fr;
      grid-column-gap: 1rem;
      padding: 8rem;
    }

    &__main {
      display: block;
    }

    &__sidebar {
      display: block;
      margin: 0;
    }
  }
}
