// This file exists for not only to connect everything at the
// project level, but for you to import project-level dependencies
// stored in the marrow folder, but to also create project-level
// variables.

@import "/node_modules/skeleton-sass-official/src/themes/original/mixins/private";
@import "/node_modules/skeleton-sass-official/src/themes/original/mixins/public";

$prefix-for-webkit:    true !default;
$prefix-for-mozilla:   true !default;
$prefix-for-microsoft: true !default;
$prefix-for-opera:     true !default;
$prefix-for-spec:      true !default;

// Colors
//$beigeorange: #EECC6E;
//$orange: #F96900;
//$maroon: #A56D51;
//$deepblue: #1C243C;
//$darkblue: #2C344C;
//$beige: #FFE8C4;

$red: #D51F3D;
$white: #FFFFFF;
$blue: #1C3041;
$lightgray: #F2F2F2;

$primary-color: $red;
$secondary-color: $blue;
$accent-color: $red;

// Default overrides for new theme
$is-fluid: true; // Change to true to enable the fluid grid
$use-global-border-box: false; // Change to true the enable global border-box

$link-color: $red; // default link color
$link-hover: $red; // default link color on :hover
$link-decoration: underline; // default link decoration

$base-width: if($is-fluid, 100%, ($base-col-width + $base-gutter-width) * $base-col-count);

$font-size: 15px;  // default font size. Change here will adjust sizes across the board.
$font-weight: 400; // sets the font weight
$font-family: "Libre Baskerville", Arial, serif; // default fonts
$font-color: $blue;  // default font color

$heading-family: $font-family; // default heading (h1-h6) font
$heading-color: $font-color; // default heading (h1-h6) color
$heading-weight: 300; // sets the weight of the heading text

$form-font: $font-family; // default form font

// Button Settings
$button-color: #555;
$button-weight: 600;
$button-font-uppercase: true;
$button-border-color: #bbb;
$button-background-color: transparent;
$button-height: 38px;
$button-letter-spacing: 0.1rem;
$button-border-radius: 4px;
$button-font-size: relative(11px);

$button-hover-color: #FFF;
$button-hover-border-color: #888;
$button-hover-background-color: transparent;

$button-primary-color: #FFF;
$button-primary-border-color: $primary-color;
$button-primary-background-color: $primary-color;

$button-primary-hover-color: #FFF;
$button-primary-hover-background-color: $primary-color;
$button-primary-hover-border-color: $button-primary-hover-background-color;

// GRID CHANGES
$grid-max-width: 1200px;
$base-col-count: 12;
$base-col-width: 60px;
$use-new-grid: true;
