.form-wizard {
  padding: 5vw;
  background: #FFF;

  &__group {
    padding: 3rem;
    background: $lightgray;
    border-radius: 3px;
    margin-bottom: 3rem;

    &-title, &-subtitle, &-inner-subtitle {
      color: $blue;
    }

    &-title {
      margin-bottom: 1rem;
      font-size: 2.4rem;
      font-weight: bold;
    }

    &-subtitle {
      font-size: 1.6rem;

      &--big {
        font-weight: bold;
      }
    }

    &-inner-subtitle {
      font-size: 1.6rem;
      margin-top: 2rem;
      margin-bottom: 1rem;
    }

    .button {
      padding: 1.8rem;
      white-space: normal;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: .5rem;
    }

    .button.button-small {
      padding: .9rem 1.8rem;
      font-weight: normal;
    }

    &.hide {
      display: none;
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    margin-top: .5rem;

    > * {
      width: 100%;
    }
  }

  input, select, textarea {
    box-sizing: border-box;
    height: auto;
    padding: 1.8rem;
    border-radius: 3px;
    font-size: 1.5rem;
    background: $white;
    color: $blue;
    border: 1px solid $blue;
    margin: .5rem 0;
    font-family: $font-family;
    display: inline-block;
    width: 100%;

    &:focus {
      border-color: $blue;
    }
  }

  &__radio {
    input[type="radio"] {
      display: none;
    }
    label {

    }
  }

  input[type="date"]:focus-visible {
    outline: none;
  }

  &__inner-buttons {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 1rem;
  }

  &__navigation {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
  }

  &__triggerable-field-trigger {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;

    span {
      display: inline-block;
      min-width: 2.2rem;
      min-height: 2.2rem;
      border: 1px solid $primary-color;
      border-radius: 50%;
      cursor: pointer;

      &.active {
        background: $primary-color;
      }
    }
  }

  &__incremental &__group {
    border-radius: 0 8px 8px;
  }

  &__incremental &__group-title {
    margin-top: 3rem;
  }

  &__incremental-nav {
    display: flex;
    column-gap: .5rem;

    &-item {
      padding: 1rem 2rem;
      background: $lightgray;
      border-radius: 12px 12px 0 0;
      font-size: 1.8rem;
      color: $secondary-color;
      cursor: pointer;

      &.active {
        font-weight: bold;
      }
    }
  }

  .error {
    color: $blue;
    margin-bottom: .5rem;
  }

  @media screen and (min-width: $tablet-width) {
    &__row > * {
      flex: 1;
    }
  }
}