.form-wizard {
  background: $beige;
  padding: 5vw;

  &__group {
    padding: 3rem;
    background: #FDE1B3;
    border-radius: 8px;
    margin-bottom: 3rem;

    &-title, &-subtitle, &-inner-subtitle {
      color: $deepblue;
    }

    &-title {
      margin-bottom: 1rem;
      font-size: 2.4rem;
      font-weight: bold;
    }

    &-subtitle {
      font-size: 1.6rem;
    }

    &-inner-subtitle {
      font-size: 1.6rem;
      margin-top: 2rem;
      margin-bottom: 1rem;
    }

    .button {
      padding: 1.8rem;
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    row-gap: 1.5rem;

    > * {
      flex: 1;
    }
  }

  input, select, textarea {
    height: auto;
    padding: 1.8rem;
    border-radius: 8px;
    font-size: 1.6rem;
    background: $beige;
    color: $deepblue;
    border: 1px solid $deepblue;
    margin: .5rem 0;

    &:focus {
      border-color: $darkblue;
    }
  }

  input[type="date"]:focus-visible {
    outline: none;
  }

  &__navigation {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
  }

  &__triggerable-field-trigger {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;

    span {
      display: inline-block;
      width: 2.2rem;
      height: 2.2rem;
      border: 1px solid $primary-color;
      border-radius: 50%;
      cursor: pointer;

      &.active {
        background: $primary-color;
      }
    }

  }
}