.form-wizard-steps {
  margin-bottom: 4rem;

  &__content {
    display: flex;
    justify-content: center;
    column-gap: .5rem;
  }

  &__step {
    position: relative;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    //padding: 0 2rem;
    width: 10rem;

    &-number {
      position: relative;
      background: $blue;
      border-radius: 50%;
      width: 4rem;
      height: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $blue;
      font-weight: bold;
      font-size: 1.6rem;

      &-inner {
        background: $white;
        border-radius: 50%;
        width: 3.5rem;
        height: 3.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &::before, &::after {
        display: none;
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 51%;
        height: 3px;
        background: $blue;
      }

      &::before {
        right: 100%;
      }

      &::after {
        left: 100%;
      }

      &.clickable {
        cursor: pointer;
      }

      &:hover.clickable {
        background-color: $primary-color;
      }

      &:hover.clickable &-inner {
        background-color: #FFF;
        color: $primary-color;
      }
    }

    &-name {
      font-size: 1.5rem;
      color: $blue;
      text-align: center;
    }

    &.active &-number {
      background: $red;
    }

    &.active &-number-inner {
      background: $red;
      color: $white;
    }

    &.active &-number::before, &.active &-number::after {
      background: $red;
      z-index: 1;
    }

    &:first-child &-number::before {
      display: none;
    }

    &:last-child &-number::after {
      display: none;
    }

    &.active &-name {
      color: $red;
      font-weight: bold;
    }
  }

  &::after {
    content: '';
    display: block;
    clear: both;
  }

  @media screen and (min-width: $tablet-width) {
    &__content {
      column-gap: 0;
    }

    &__step {
      &-number {
        width: 5rem;
        height: 5rem;

        &-inner {
          width: 4.5rem;
          height: 4.5rem;
          font-size: 2rem;
        }

        &::before, &::after {
          display: block;
        }
      }
      &-name {
        font-size: 1.8rem;
      }
    }
  }
}