.form-wizard-steps {
  margin-bottom: 4rem;

  &__content {
    display: flex;
    justify-content: center;
  }

  &__step {
    position: relative;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    padding: 0 2rem;

    &-number {
      position: relative;
      background: #5F5F69;
      border-radius: 50%;
      width: 5rem;
      height: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $beige;
      font-weight: bold;
      font-size: 2rem;

      &::before, &::after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 8px;
        background: #5F5F69;
      }

      &::before {
        right: 100%;
      }

      &::after {
        left: 100%;
      }

      &-inner {
        background: #5F5F69;
        border-radius: 50%;
        width: 3.5rem;
        height: 3.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &-name {
      font-size: 1.8rem;
      color: rgba($deepblue, 0.75);
      text-align: center;
    }

    &.active &-number-inner {
      background: $deepblue;
    }

    &.active &-number::before, &.active &-number::after {
      background: $deepblue;
      z-index: 1;
    }

    &:first-child &-number::before {
      display: none;
    }

    &:last-child &-number::after {
      display: none;
    }

    &.active &-name {
      color: $deepblue;
      font-weight: bold;
    }
  }

  &::after {
    content: '';
    display: block;
    clear: both;
  }
}