.topbar {
  background: $lightgray;
  padding: 1rem;
  display: none;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    //padding: 0 3rem;
  }

  &__phone {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    margin-left: 3rem;

    span {
      white-space: nowrap;
    }
  }

  @media screen and (min-width: $tablet-width) {
    display: block;
  }
}

.navbar {
  padding: 2rem 0;
  position: relative;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1rem;
    padding: 0 3rem;

    &::after {
      display: none;
    }
  }

  &__brand {
    font-size: 2.4rem;
    font-weight: bold;
    color: $blue;
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;
    align-items: center;
  }

  &__logo {
    max-width: 20rem;
  }

  &__nav {
    display: none;
    margin-top: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    column-gap: 1rem;

    &.active {
      display: flex;
    }

    .button {
      width: max-content;
      color: $white !important;
    }
  }

  &__link {
    color: $blue !important;
    position: relative;
    padding: .5rem 1rem;
    text-decoration: none;

    &:hover {
      color: $white !important;
    }

    &:not(.button)::after {
      content: '';
      position: absolute;
      display: block;
      bottom: 3px;
      left: 50%;
      transform: translateX(-50%);
      width: 75%;
      height: 1px;
      background: $blue;
      z-index: -1;
      transition: height .05s;
    }

    &:not(.button):hover {
      color: $white;
    }

    &:not(.button):hover::after {
      bottom: 0;
      width: 100%;
      height: 107%;
      transform: translateX(-50%);
    }

    &--with-dropdown {
      display: flex;
      align-items: center;
      column-gap: .5rem;

      svg {
        fill: #1C3041;
      }
    }

    &--with-dropdown:hover svg {
      fill: #FFF;
    }
  }

  &__toggler {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: .5rem;
    cursor: pointer;

    > div {
      width: 2.7rem;
      height: .4rem;
      background: $blue;
      transition: 0.3s;

      &:nth-child(2) {
        width: 1.5rem;
      }
    }

    &.active > div {
      &:first-child {
        transform: translateY(9px) rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:last-child {
        transform: translateY(-9px) rotate(-45deg);
      }
    }
  }

  @media screen and (min-width: $tablet-width) {
    .container {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    &__nav {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    &__link {
      text-align: center;
    }
    &__toggler {
      display: none;
    }
  }
}
