.navbar {
  background: $beige;
  padding: 2rem 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &::after {
      display: none;
    }
  }

  &-brand {
    font-size: 2.4rem;
    font-weight: bold;
    color: $deepblue;
  }

  &-nav {
    display: flex;
    align-items: center;
    column-gap: 2rem;
  }

  &-link {
    color: $deepblue;
    text-decoration: none;
  }
}