{% extends 'base.html.twig' %}

{% block title %}Erreur lors du paiement{% endblock %}

{% block body %}
<div class="wrapper">
     <h1>Erreur</h1>
     <p>Une erreur est survenu lors du paiement.</p>
</div>
{% endblock %}